#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: germanribera # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDAUpVNSY/gtIPZSs122ssR+wYglp6aJbEt4zfCFBO9CWl5OJofv9QQFNbbqXtEIifq3uBSlSCpUZ8dxGxN5+N8IxGK4G2oyTqO++YVsyKxju8NopfNasAxTWG2VkHznGw34/xJ2uJ7KIK+Z+pturE2fFHS+8WvumOyjBSvjXW5PQz12UWiIy8QOGLgsF6VPlx+l4F7IyN+9A8E320EgKZZNVulq3I9b3bxn19DUuNVL83vfqTvZoP485jm38NM1pkpj0gzm1lCGspzSHbkwRcDBNdGks2RAi8Uc7VRVz8riNHsn4Vp/Y+HsVJJV8kkvb2yMovS0+CLcbPjrpWc5QpPWebkBH8jD4YPQ2G8QQXEY96r2UH5eM98oWApAPVp04zOisYKradVplel04hTK/mnnLgdPIup7fVJCmID3tor5eScobpYzzt1UzCzxBQbr90W4SRpCnUQYokcbcJjsSKsC0EePjQ0kKprQF8FTwUdMD1edIH7Ndb4Klff5B7/Jwc= german@german
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
